<h3>Check out feedr's Latest Events:</h3> <br>
<%= link_to 'Add your Event', new_event_path, class: "btn col-md-12 btn-primary" %>
<br>
<br>
<br>

  <% @events.reverse.each do |event| %>
  <%= user_origin = current_user.profile.location %>
  <%= event_destination = event.latitude,event.longitude %>
  <% p user_origin %>
  <script src="https://maps.googleapis.com/maps/api/distancematrix/json?units=imperial&origins=user_origin&destinations=event_destination&key=AIzaSyDnpY7hqQMSItvfLul9dC251c8ednf5hos"></script>
  <div class="container thumbnail col-md-6">
    <img src="<%= event.event_picture %>" class="img-responsive", height="375">
    <div class="caption">
      <h3><%= event.title %></h3>
      <br>
      <strong>Distance: </strong>
      <br>
      <strong>Starts: </strong><%= DateTime.parse(event.date_time).strftime("%d/%m/%Y at %R") %>
      <br>
      <br>
      <%= link_to "View Event", event_path(event), class: "btn col-md-12 btn-primary" %>
      <br><br>
    </div>

  </div>
  <% end %>
