<h3>Check out Feedr's Latest Events:</h3>
<%= link_to 'Add your Event', new_event_path %><br>
<br>

<% @events.reverse.each do |event| %>
  <%= event.title %>
  <br>
  <%= event.info %>
  <br>
  <%= event.date_time %>
  <br>
  <%= event.nr_guests %>
  <br>
  <%= link_to "View Event", info_events_path %> 
  <br>
<% end %>
