<h3>Check out feedr's Latest Events:</h3> <br>
<%= link_to 'Add your Event', new_event_path, class: "btn col-md-12 btn-primary" %>
<br>
<br>
<br>

  <% @events.reverse.each do |event| %>
  <div class="container thumbnail col-md-6">
    <img src="<%= event.event_picture %>" class="img-responsive", style="height:250px">
    <div class="caption" style="text-align: center;">
      <h3><%= event.title %></h3>
      <br>
      <strong>When: </strong><%= event.date_time.strftime ("%B") %>
      <br>
      <br>
      <%= link_to "View Event", event_path(event), class: "btn col-md-12 btn-primary" %>
      <br><br>
    </div>

  </div>
  <% end %>
