<h3>Check out Feedr's Latest Events:</h3>
<%= link_to 'Add your Event', new_event_path %><br>
<br>

<% if current_user %>
  <% if current_user.profile %>
      <%= link_to 'My Profile', profile_path(current_user.profile.id) %>
  <% else %>
      <%= link_to 'Create Profile', new_profile_path %>
  <% end %>
    <%= form_with url: '/users/sign_out', method: "delete", local: true do |form| %>
      <%= form.submit value: "Log out" %>
    <% end %>
<% else %>
 <%= link_to 'Log in', new_user_session_path %>

<% @events.reverse.each do |event| %>
  <%= event.title %>
  <br>
  <%= event.info %>
  <br>
  <%= event.date_time %>
  <br>
  <%= event.nr_guests %>
  <br>
  <br>
<% end %>
