<h3>Check out Feedr's Latest Events:</h3>
<%= link_to 'Add your Event', new_event_path %><br>
<br>

<% @events.reverse.each do |event| %>
  Title <%= event.title %>
  <br>
  Info <%= event.info %>
  <br>
  Starts at <%= event.date_time %>
  <br>
  Finishes at <%= event.end_date_time %>
  <br>
  Guests <%= event.nr_guests %>
  <br>
  <br>
<% end %>
