<h1>Create your Event</h1>

<div class='container'>
  <%= form_for @event, :html => {:class => "form-horizontal center"} do |a| %>

  <div class="form-group"> 
    <%= a.label :event_title, class: "col-md-2 control-label" %> 
    <div class="col-md-10">
    <p><i> Give your event a snazzy name that will stand out from the crowd!</i></p>
    <%= a.text_field :title, class: "form-control" %> 
    </div>
  </div>
  <div class="form-group">
    <%= a.label :event_info, class: "col-md-2 control-label" %> 
    <div class="col-md-10">
    <p><i> Add some information. Tell people about a theme or put your menu here. </i></p>
    <%= a.text_area :info, class: "form-control", rows: 5 %> 
    </div>
  </div>
  <div class="form-group">
    <%= a.label :event_start_time, class: "col-md-2 control-label" %> 
    <div class="col-md-10">
    <p><i> Set a start date and time. Events can only be created up to 30 days in advance. </i></p>
    <%= a.datetime_local_field :date_time, class: "form-control" %> 
    </div>
  </div>
  <div class="form-group">
    <%= a.label :event_end_time, class: "col-md-2 control-label" %> 
    <div class="col-md-10">
    <p><i> Set a finish date and time for your event. </i></p>
    <%= a.datetime_local_field :end_date_time, class: "form-control" %> 
    </div>
  </div>
  <div class="form-group">
    <%= a.label :guests, class: "col-md-2 control-label" %> 
    <div class="col-md-10">
    <p><i> How many guests can come to your event? </i></p>
    <%= a.number_field :nr_guests, class: "form-control" %> 
    </div>
  </div>
    <div class="col-sm-2"></div>
    <%= a.submit "Submit", class: "btn col-md-10 btn-primary" %>  
  <% end %>
</div>