<h3>Create your Event!</h3>

<%= form_for @event do |a| %> 
  <%= a.label :title %> 
  <%= a.text_field :title %>  <br>
  <%= a.label :info %> 
  <%= a.text_area :info %>   <br>
  <%= a.label :start_time %> 
  <%= a.datetime_local_field :date_time %>   <br>
  <%= a.label :end_time %> 
  <%= a.datetime_local_field :end_date_time %>   <br>
  <%= a.label :max_guests %> 
  <%= a.number_field :nr_guests, min: 1, max: 99 %>   <br>
  <%= a.submit "Submit", class: 'button' %>  
<% end %>
