<!DOCTYPE html>
<html>
  <head>
    <title>Feedr</title>
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <% if current_user.profile %>
          <%= link_to 'My Profile', profile_path(current_user.profile.id) %>
      <% else %>
          <%= link_to 'Create Profile', new_profile_path %>
      <% end %>
        <%= form_with url: '/users/sign_out', method: "delete", local: true do |form| %>
          <%= form.submit value: "Log out" %>
        <% end %>
    <% else %>
     <%= link_to 'Log in', new_user_session_path %>
     <% end %>
    <%= yield %>
  </body>
</html>
